<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cinema World | About Us</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<script src="~/Script/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="~/Script/cufon-yui.js" type="text/javascript"></script>
<script src="~/Script/cufon-replace.js" type="text/javascript"></script>
<script src="~/Script/Gill_Sans_400.font.js" type="text/javascript"></script>
<script src="~/Script/script.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="tail-top">
  <div class="tail-bottom">
    <div id="main">
      
      <div id="content">
        <div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                <h3>About <span>Us</span></h3>
                <p class="p1">He never went to the same time of the incident in order to seek the pleasure of toil and pain, some great. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it. But who has any right to find fault who are in such a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure we pass this, however, most worthy of them, and they that hate the righteous, and to accuse her with flattery.</p>
                <p>Corrupted by the charms of pleasure and pain, and for which the troubles of excepturi Upraesentium they are blinded by desire not to provide for and to whom, and in the same want of spirit, they deserted the general duties of those who are at fault, that is, of labor, and painful. These cases are perfectly simple and easy to distinguish. For a free hour, when our power is untrammeled and when nothing prevents our being less.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <h3>Our <span>Team</span></h3>
          <ul class="list">
            <li><img src="~/Images/hassan.jpg" alt="" /><a href="#">Team Member One</a><br />
              Hassan Mujtaba<br />
                Web developer<br />
                Pucit<br /> 
            
          </ul>
        </div>
      </div>
      <div id="footer">
        <div class="left">
          <div class="right">
            <div class="footerlink">
             
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</html>